<div class="page-breadcrumb">
  <div class="row">
    <div class="col-7 align-self-center">
      <h3 class="page-title text-truncate text-dark font-weight-bold mb-1"><%= title %></h3>
      <small><%= pengadaan.nodin %></small>
    </div>
    <div class="col-5 d-flex justify-content-end">
      <a href="/pengadaan" style="color: white!important;" class="my-auto">
        <button class="btn btn-dark" style="height: fit-content;">Semua Pengadaan</button>
      </a>
    </div>
  </div>
</div>