<div class="toast-container position-fixed top-0 end-0 p-3" style="margin-top: 85px;">
  <div id="toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i id="toastIcon" class="bi bi-check-circle"></i>
      <strong id="toastTitle" class="ms-2 me-auto">Sukses</strong>
      <small>sekarang</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div id="toastBody" class="toast-body">
      Berhasil diperbarui.
    </div>
  </div>
</div>